.navbar > .container-fluid .navbar-brand{
  height: 100px;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 30px;
  color: white;
}

.container-fluid {
  background-color: #3a3a3a;

}

 .navbar-right {
  margin-right: 100px;
  margin-top: 50px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
